@{
    ViewBag.Title = "Home";
}
<body ng-controller="scrapeController as sCtrl">

<div class="jumbotron">
    <h1><i class="fa fa-crosshairs" aria-hidden="true" style="color:#c60919;"></i> Webscraper</h1>
    <p class="lead">This app uses <a class="label label-warning" href="http://html-agility-pack.net/?z=codeplex">HtmlAgilityPack</a> to scrape images from <a class="label label-default" href="https://pixabay.com/">Pixabay.com</a>.</p>
    <form name="scrapeForm">
        <input type="text" placeholder="Enter a keyword" ng-model="sCtrl.keyword" required>
        <button class="btn btn-primary btn-lg" ng-click="sCtrl.search()" ng-disabled="scrapeForm.$invalid">
            <span ng-hide="sCtrl.load"><i class="fa fa-search" aria-hidden="true"></i> Search</span>
            <span ng-show="sCtrl.load" ng-cloak><i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i> Loading</span>
        </button>
    </form>
</div>
<div class="container row">
    <div ng-repeat="item in sCtrl.items" class="thumbnail col-sm-3" >
        <img ng-src="{{item}}" class="img-responsive" style="width:216px; height:216px;">
    </div>
</div>
    @section scripts{
        <script src="~/Scripts/ScrapeCtrl.js"></script>
        <script src="~/Scripts/ScrapeService.js"></script>
    }
</body>